## <b> Predicting House Prices

#### <b> Setup

In [31]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle

#### <b> Load Data

In [27]:
houses_df = pd.read_csv('../data/houses.csv')
houses_df.shape

(1460, 4)

In [28]:
houses_df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

#### <b> EDA

### <b> Linear Regression Model

#### <b> Data configuration

In [29]:
X = houses_df[['tamanho', 'garagem', 'ano']]
y = houses_df[['preco']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

X_train.shape, X_train.shape, y_train.shape, y_test.shape

((1022, 3), (1022, 3), (1022, 1), (438, 1))

#### <b> Model Training

In [30]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

#### <b> Save

In [34]:
pickle.dump(lr, open('../model/lr.sav', 'wb'))